page-map {
    #map_canvas{
        display: block;
        height: 100%;
        width: 100%;
    }

    ion-content,
    .scroll-content
    { 
        padding: 0 !important;
    }
}

.Maptrk{
    position: relative;
    left: 55px;
}